:root {
    --dark-theme-bg: #1d1d1d;
    --dark-theme-main: #242424;
    --light-theme-bg: rgb(235, 235, 235);
    --light-theme-hover: rgb(216, 216, 216);
    --dark-theme-hover: rgb(19, 19, 19);
    --light-theme-main: #ffffff;
    --current-bg-color: var(--light-theme-bg);
    --current-main-color: var(--light-theme-main);
    --current-theme-hover: var(--light-theme-hover);
    --bg-image-opacity: 1;
    --light-main-text-color: #0d1910;
    --dark-main-text-color: #cccccc;
    --current-main-text-color: var(--dark-theme-bg);
    --accent-color: rgb(49, 138, 255);
}

body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-theme-bg);
    height: 100vh;
}

body::after {
    content: "";
    background: url(../img/zakat_more_nebo_gorizont_115519_1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: var(--bg-image-opacity);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#chats::-webkit-scrollbar{
    width: 10px;
    background-color: var(--current-bg-color)
}
#chats::-webkit-scrollbar-thumb{
    background-color: var(--current-theme-hover)
}

.searchUserslist::-webkit-scrollbar{
    width: 10px;
    background-color: var(--current-bg-color)
}
.searchUserslist::-webkit-scrollbar-thumb{
    background-color: var(--current-theme-hover)
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

button{
    width: 100px;
    height: 50px;
    padding: 0;
    font-size: 18px;
    border: none;
    color: var(--accent-color);
    background-color: #24242400;
}
button:hover{
    background-color: var(--current-theme-hover);
}

#modal{
    z-index: 100;
    align-items: center;
    position: fixed;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    display: flex;
}

#modalContent{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255);
    font-size: 17px;
    width: 400px;
    height: 650px;
    border-radius: 5px;
}

#searchUsersinput {
    box-sizing: border-box;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--current-main-color);
}

.searchUserslist{
    box-sizing: border-box;
    height: 480px;
    overflow: auto;
}

.searchUserslist li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 10px 0 10px;
}

.searchUserslist li:hover{
    background-color: var(--current-theme-hover);
    cursor: pointer;
}

.statusOnline{
    color: var(--accent-color);
}

.statusOffline{
    color: rgba(126, 126, 126, 0.6);
}

#createChat{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#createChat input{
    box-sizing: border-box;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--current-main-color);
    outline: none;
}

.stickyDivHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--current-main-color);
    width: 400px;
    height: 110px;
}

.stickyDivFooter{
    position: fixed;
    height: 60px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#aboutProject p{
    margin: 10px 0 10px 0;
}

main{
    display: flex;
    height: 780px;
    width: 900px;
}

#profile{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: var(--current-bg-color);}
s
#profileHeader{
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 10px;
    background-image: url(../img/atlantic-1794462_1280.jpg);
    color: aliceblue;
}

#profileHeader p:hover{
    color: rgb(184, 184, 184);
    cursor: pointer;
}

#userAvatar{
    background-image: url(../img/personal/aG8Dm5c46R4.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center
}

#navigation{
    margin-top: 10px;
}

#navigation li{
   height: 50px;
   width: 100%;
   display: flex;
   align-items: center;
   padding-left: 10px;
}

#navigation li:hover{
    background-color: var(--current-theme-hover);
    cursor: pointer; 
}

.footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    opacity: 0.8;
    font-size: 12px;
}

#mainContent{
    background-color: var(--current-main-color);
    height: 100%;
    width: 650px;
}

header{
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 0 10px;
}

#chatsSearch{
    box-sizing: border-box;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: var(--current-bg-color);
    outline-color: var(--accent-color);
    padding-left: 10px;
    margin: 0 auto 0 auto;
}

#chats{
    overflow: auto;
}

#chats li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    padding: 0 10px 0 10px;
    position: relative;
}

#chats li:hover{
    background-color: var(--current-theme-hover);
    cursor: pointer;
}

.infoAboutChat{
    display: flex;
}

.delete{
    height: 15px;
    width: 15px;
    opacity: 0.5;
}

.avatar{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(182, 98, 199);
    margin: 0 10px 0 0;
}

.lastMessege{
    opacity: 0.5;
}

#messegeInputDiv{
    height: 50px;
    width: 100%;
    margin-top: auto;
    display: none;
}

#messegeInput{
    box-sizing: border-box; border: none; padding: 10px; width: 100%; font-size: 16px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); outline: none
}